tools_iface/src/schemaorg_apache_xmlbeans/src/conf/tools_iface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.dz.chinaebi.com.cn/webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.dz.chinaebi.com.cn/webservice" elementFormDefault="qualified" version="1.0" xml:lang="EN">
	<xs:annotation>
		<xs:documentation>
			- v1.0 : First version of Chinaebi Kernel Manage schema
		</xs:documentation>
	</xs:annotation>
	<!-- add : 增、delete : 删、update : 改 -->
	<xs:simpleType name="dataHandler">
		<xs:restriction base="xs:string">
			<xs:enumeration value="add"/>
			<xs:enumeration value="delete"/>
			<xs:enumeration value="update"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- true ：是，false ：否 -->
	<xs:simpleType name="yesOrno">
		<xs:restriction base="xs:boolean">
			<xs:pattern value="false"/>
			<xs:pattern value="true"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- 扣款渠道是否开通关闭 open : 开通、close ：关闭 -->
	<xs:simpleType name="openOrclose">
		<xs:restriction base="xs:string">
			<xs:enumeration value="open"/>
			<xs:enumeration value="close"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- 内部对账等级  1 ：一级、2 ：二级-->
	<xs:simpleType name="innerLevel">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- 文件类型  1:一般对账文件、2:差错对账文件-->
	<xs:simpleType name="fileType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- 对账系统回执内容 
		00 :　成功
		01 : 失败
	-->
	<xs:complexType name="dzTradeContextType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<xs:element name="opCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 交易类型金额正负处理 
		原交易处理码\原交易消息类型  只针对dataHandler 是update的时候才操作  其他添加/删除不操作
	-->
	<xs:complexType name="tradeTypeMoneyHandlerType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 交易处理码 -->
			<xs:element name="process" type="xs:string"/>
			<!-- 交易消息类型 -->
			<xs:element name="tradeMsgType" type="xs:int"/>
			<!-- 交易名称 -->
			<xs:element name="name_" type="xs:string"/>
			<!-- 交易金额状态 -->
			<xs:element name="tradeMoneyStatus" type="xs:boolean"/>
			<xs:element name="dataHandler" type="dataHandler"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 定时任务 对账文件获取任务操作 -->
	<xs:complexType name="timingTaskDzFileConfType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 对账文件获取时间 -->
			<xs:element name="acquisitionTime" type="xs:string"/>
			<!-- 对账文件获取定时任务名称 -->
			<xs:element name="acquisitionName" type="xs:string"/>
			<xs:element name="dataHandler" type="dataHandler"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 定时任务 汇总核心交易数据任务操作 -->
	<xs:complexType name="timingTaskSummaryDataConfType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总核心交易数据 -->
			<xs:element name="gatherDataTime" type="xs:string"/>
			<!-- 汇总核心交易数据定时任务名称 -->
			<xs:element name="gatherDataName" type="xs:string"/>
			<xs:element name="dataHandler" type="dataHandler"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 定时任务 对账处理时间任务操作 -->
	<xs:complexType name="timingTaskDzHandlerConfType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 对账处理时间 -->
			<xs:element name="dzHandlerTime" type="xs:string"/>
			<!-- 对账处理时间定时任务名称 -->
			<xs:element name="dzHandlerName" type="xs:string"/>
			<xs:element name="dataHandler" type="dataHandler"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 定时任务 对账文件生成时间任务操作 -->
	<xs:complexType name="timingTaskDzFileGenerateType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 对账文件生成处理时间 -->
			<xs:element name="dzFileHandlerTime" type="xs:string"/>
			<!-- 对账文件生成处理时间定时任务名称 -->
			<xs:element name="dzFileHandlerName" type="xs:string"/>
			<xs:element name="dataHandler" type="dataHandler"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 是否内部对账处理 -->
	<xs:complexType name="whetherInnerDzHandlerType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 是否内部对账-->
			<xs:element name="yesOrno" type="yesOrno"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总原始交易数据 -->
	<xs:complexType name="manualSummaryOriginalType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 汇总日期 -->
			<xs:element name="summaryDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总北京银行原始交易数据 -->
	<xs:complexType name="manualSummaryBeijingOriginalType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总日期 -->
			<xs:element name="summaryDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总中信银行原始交易数据 -->
	<xs:complexType name="manualSummaryZhongxinOriginalType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总日期 -->
			<xs:element name="summaryDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总银联CUPS原始交易数据 -->
	<xs:complexType name="manualSummaryCupsOriginalType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总日期 -->
			<xs:element name="summaryDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总信用卡还款原始交易数据 -->
	<xs:complexType name="manualSummaryCreditcardpayOriginalType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总日期 -->
			<xs:element name="summaryDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总北京银行对账文件交易数据 -->
	<xs:complexType name="manualSummaryBeijingDzFileDataType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总文件名称 -->
			<xs:element name="summaryFileName" type="xs:string"/>
			<!-- 汇总文件时间 -->
			<xs:element name="summaryFileDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总中信银行对账文件交易数据 -->
	<xs:complexType name="manualSummaryZhongxinDzFileDataType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总文件名称 -->
			<xs:element name="summaryFileName" type="xs:string"/>
			<!-- 汇总文件时间 -->
			<xs:element name="summaryFileDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总银联CUPS对账文件交易数据 -->
	<xs:complexType name="manualSummaryCupsDzFileDataType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总名称 -->
			<xs:element name="summaryFileName" type="xs:string"/>
			<!-- 汇总文件时间 -->
			<xs:element name="summaryFileDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动汇总银联CUPS差错对账文件交易数据 -->
	<xs:complexType name="manualSummaryCupsErrorDzFileDataType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 汇总名称 -->
			<xs:element name="summaryFileName" type="xs:string"/>
			<!-- 汇总文件时间 -->
			<xs:element name="summaryFileDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动处理北京银行对账文件数据与电银内部交易数据重对账 -->
	<xs:complexType name="manualHandlerBeijingAgainDzType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 原始交易日期时间 -->
			<xs:element name="summaryDate" type="xs:string"/>
			<xs:sequence maxOccurs="unbounded">
				<!-- 原始交易数据对账字段 -->
				<xs:element name="originalDzColumn" type="xs:string"/>
				<!-- 扣款渠道对账字段 -->
				<xs:element name="channelDzColumn" type="xs:string"/>
			</xs:sequence>
			<!-- 是否内部对账 -->
			<xs:element name="innertTradeHandler" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动处理中信银行对账文件数据与电银内部交易数据重对账 -->
	<xs:complexType name="manualHandlerZhongxinAgainDzType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 原始交易日期时间 -->
			<xs:element name="summaryDate" type="xs:string"/>
			<xs:sequence maxOccurs="unbounded">
				<!-- 原始交易数据对账字段 -->
				<xs:element name="originalDzColumn" type="xs:string"/>
				<!-- 扣款渠道对账字段 -->
				<xs:element name="channelDzColumn" type="xs:string"/>
			</xs:sequence>
			<!-- 是否内部对账 -->
			<xs:element name="innertTradeHandler" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动处理北京银行对账文件数据与电银内部交易数据重对账 -->
	<xs:complexType name="manualHandlerCupsAgainDzType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 原始交易日期时间 -->
			<xs:element name="summaryDate" type="xs:string"/>
			<xs:sequence maxOccurs="unbounded">
				<!-- 原始交易数据对账字段 -->
				<xs:element name="originalDzColumn" type="xs:string"/>
				<!-- 扣款渠道对账字段 -->
				<xs:element name="channelDzColumn" type="xs:string"/>
			</xs:sequence>
			<!-- 是否内部对账 -->
			<xs:element name="innertTradeHandler" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动处理对账文件数据与电银内部交易数据重对账 -->
	<xs:complexType name="manualHandlerAgainDzType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 机构对账处理类 -->
			<xs:element name="dzHandlerClass" type="xs:string"/>
			<!-- 原始交易日期时间 -->
			<xs:element name="summaryDate" type="xs:string"/>
			<xs:sequence maxOccurs="unbounded">
				<!-- 原始交易数据对账字段 -->
				<xs:element name="originalDzColumn" type="xs:string"/>
				<!-- 扣款渠道对账字段 -->
				<xs:element name="channelDzColumn" type="xs:string"/>
			</xs:sequence>
			<!-- 是否内部对账 -->
			<xs:element name="innertTradeHandler" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动处理差错文件数据与电银内部交易差错数据重对账 -->
	<xs:complexType name="manualHandlerErrorDzType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 机构对账处理类 -->
			<xs:element name="dzHandlerClass" type="xs:string"/>
			<!-- 原始交易日期时间 -->
			<xs:element name="summaryDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动还原数据对账处理状态 -->
	<xs:complexType name="reductionDataStatusType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 原始交易日期时间 -->
			<xs:element name="summaryDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动还原差错数据对账处理状态 -->
	<xs:complexType name="reductionErrorDataStatusType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 原始交易日期时间 -->
			<xs:element name="summaryDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 手动生产对账文件 -->
	<xs:complexType name="reductionGenerateDzFileType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- 文件类型  1:一般对账文件、2:差错对账文件 -->
			<xs:element name="fileType" type="fileType"/>
			<!-- 日期时间 -->
			<xs:element name="GenerateDate" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 扣款渠道开通关闭处理 -->
	<xs:complexType name="deductChannelOpenOrCloseType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
			<!-- open:开通、close:关闭 -->
			<xs:element name="openOrclose" type="openOrclose"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 扣款渠道更新内存 -->
	<xs:complexType name="deductChannelUpdateRamType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="instId" type="xs:int"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<!-- 交易金额内存更新 -->
	<xs:complexType name="tradeMoneyUpdateRamType">
		<xs:sequence>
			<xs:element name="trace" type="xs:string"/>
			<!-- 机构号 -->
			<xs:element name="id" type="xs:int"/>
		</xs:sequence>
		<xs:attribute name="issueInstant" type="xs:dateTime"/>
	</xs:complexType>
	<xs:element name="dzTradeContext" type="dzTradeContextType"/>
	<xs:element name="tradeTypeMoneyHandler" type="tradeTypeMoneyHandlerType"/>
	<xs:element name="timingTaskDzFileConf" type="timingTaskDzFileConfType"/>
	<xs:element name="timingTaskSummaryDataConf" type="timingTaskSummaryDataConfType"/>
	<xs:element name="timingTaskDzHandlerConf" type="timingTaskDzHandlerConfType"/>
	<xs:element name="manualSummaryOriginal" type="manualSummaryOriginalType"/>
	<xs:element name="manualSummaryBeijingOriginal" type="manualSummaryBeijingOriginalType"/>
	<xs:element name="manualSummaryZhongxinOriginal" type="manualSummaryZhongxinOriginalType"/>
	<xs:element name="manualSummaryCupsOriginal" type="manualSummaryCupsOriginalType"/>
	<xs:element name="manualSummaryBeijingDzFileData" type="manualSummaryBeijingDzFileDataType"/>
	<xs:element name="manualSummaryZhongxinDzFileData" type="manualSummaryZhongxinDzFileDataType"/>
	<xs:element name="manualSummaryCupsDzFileData" type="manualSummaryCupsDzFileDataType"/>
	<xs:element name="manualHandlerBeijingAgainDz" type="manualHandlerBeijingAgainDzType"/>
	<xs:element name="manualHandlerZhongxinAgainDz" type="manualHandlerZhongxinAgainDzType"/>
	<xs:element name="manualHandlerCupsAgainDz" type="manualHandlerCupsAgainDzType"/>
	<xs:element name="manualHandlerAgainDz" type="manualHandlerAgainDzType"/>
	<xs:element name="reductionDataStatus" type="reductionDataStatusType"/>
	<xs:element name="deductChannelOpenOrClose" type="deductChannelOpenOrCloseType"/>
	<xs:element name="deductChannelUpdateRam" type="deductChannelUpdateRamType"/>
	<xs:element name="tradeMoneyUpdateRam" type="tradeMoneyUpdateRamType"/>
	<xs:element name="timingTaskDzFileGenerate" type="timingTaskDzFileGenerateType"/>
	<xs:element name="manualHandlerErrorDz" type="manualHandlerErrorDzType"/>
	<xs:element name="reductionErrorDataStatus" type="reductionErrorDataStatusType"/>
	<xs:element name="manualSummaryCupsErrorDzFileData" type="manualSummaryCupsErrorDzFileDataType"/>
	<xs:element name="manualSummaryCreditcardpayOriginal" type="manualSummaryCreditcardpayOriginalType"/>
	<xs:element name="reductionGenerateDzFile" type="reductionGenerateDzFileType"/>
</xs:schema>
